html, body {
  min-width:              1200px;
}

#wrapper {
  width:                  1200px;
}

/******************************************************************************
 *  Header                                                                    *
 ******************************************************************************/

header {
  width:                  1200px;
}

/******************************************************************************
 *  Sidebar                                                                   *
 ******************************************************************************/



/******************************************************************************
 *  Main                                                                      *
 ******************************************************************************/

h1.huge_ass {
  font-size:              20pt;
}

h2 {
  font-size:              20px;
}

#main {
  width:                  1180px;
}

#content {
  padding-left:           20px;
}

#entity_container {
  float:                  left;
  width:                  850px;
}

.short_version {
  display:                block;
}

.big_version {
  display:                none;
}

#big_vis_container_nav li a, .tab-box .tabs li, .popup-tabs li {
  font-size:              11pt;
}

.popup {
  top:                    3%;
}

.popup_container {
  max-height:             500px;
}

/******************************************************************************
 *  Footer                                                                    *
 ******************************************************************************/

footer ul {
  width:                1180px;
}

/******************************************************************************
 *  Big search box                                                            *
 ******************************************************************************/

.query_entity_type {
  font-size:            1em;
  width:                224px;
}

.query_entity_type input {
  font-size:            1em;
  width:                212px;
}

/******************************************************************************
 *  Dashboard Top 10 boxes                                                    *
 ******************************************************************************/

.topbox {
  font-size:            12pt;
  min-width:            540px;
}

#dataset_stats {
  width:                1160px;
}